@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

:root {
  --principal: #181818;
  --title: #a10035;
  --border-title: #b1033d;
  --subtitle: #fec260;
  --card: #2eb086;
  --border-card: #33a883;
  --disabled: #2eb0879d;
  --disabled-border: #33a88334;
  --light-card: #5fd387;
  --light-border-card: #5bca82;
}

body {
  background-color: var(--principal);
  font-family: "Silkscreen", cursive;
}

.title {
  color: var(--title);
  font-family: "Bungee Shade", cursive;
  margin-top: auto;
  font-size: 64px;
  margin-bottom: 0;
  text-align: center;
}

#character-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: var(--subtitle);
  font-size: 2em;
  margin-top: 12px;
}

.characters-container {
  display: flex;
  margin-bottom: 12px;
}

input {
  display: none;
}

input:checked + label {
  background-color: var(--light-card);
  border: 4px solid var(--light-border-card);
}

.card {
  width: 224px;
  height: 152px;
  background-color: var(--card);
  border: 4px solid var(--border-card);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 12px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.card img {
  width: 94px;
}

.character-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid var(--subtitle);
  border-radius: 28px;
  width: 714px;
  padding: 12px;
}

.character-description {
  color: white;
}

.character-description h3,
.character-description h4 {
  text-align: center;
  color: var(--subtitle);
  margin: 4px;
}

.attacks-container {
  display: flex;
  width: inherit;
  justify-content: space-evenly;
}

.attacks-container button {
  width: 164px;
  height: 80px;
  background-color: var(--card);
  border: 4px solid var(--border-card);
  border-radius: 20px;
  cursor: pointer;
  margin: 8px;
  font-family: "Silkscreen", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.attacks-container img {
  width: 64px;
}

.attacks-container .disabled-btn {
  background-color: var(--disabled);
  border: 4px solid var(--disabled-border);
  cursor: unset;
  color: rgba(0, 0, 0, 0.5);
}

.attacks-container .disabled-btn img {
  opacity: 0.5;
}

#start-btn {
  margin-top: 44px;
  width: 200px;
  height: 52px;
  background-color: var(--title);
  border: 4px solid var(--border-title);
  border-radius: 12px;
  font-size: 20px;
  font-family: "Silkscreen", cursive;
  font-weight: bold;
  cursor: pointer;
}

/*! Battle section */

#second-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-title {
  color: var(--title);
  font-family: "Silkscreen", cursive;
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
}

#battle-section {
  display: flex;
  align-items: center;
}

#battle-section p {
  margin: 0 148px;
}

.life {
  border: 3px solid white;
  border-radius: 16px;
  padding: 8px;
  width: 160px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.life-point {
  background-color: var(--border-title);
}

.life div:first-child {
  border-radius: 12px 0 0 12px;
}

.life div:last-child {
  border-radius: 0 12px 12px 0;
}

.paco-life {
  width: 36px;
}

.paolo-life {
  width: 28px;
}

.sre-life {
  width: 48px;
}

.lose-life {
  background-color: var(--principal);
}

.character-cards-container {
  width: 312px;
}

.character-cards-container,
.character-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  height: 140px;
  margin-bottom: 20px;
}

.battle-img {
  width: 136px;
  height: auto;
  margin-top: 12px;
}

.character-name {
  color: var(--subtitle);
}

.battle-attacks-container {
  display: flex;
}

.battle-attacks-container button {
  width: 88px;
  height: 56px;
  background-color: var(--card);
  border: 2px solid var(--border-card);
  border-radius: 14px;
  cursor: pointer;
  margin: 8px;
  font-family: "Silkscreen", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.battle-attacks-container img {
  width: 48px;
}

#history-section {
  margin-top: 30px;
  border: 4px solid var(--subtitle);
  border-radius: 28px;
  width: 412px;
  padding: 20px;
}

#history-section h3 {
  display: flex;
  justify-content: center;
  color: var(--subtitle);
  margin: 0 0 12px 0;
}

#attacks-history {
  display: flex;
  justify-content: space-between;
}

#attacks-history-player {
  color: white;
  margin: 0 90px 0 32px;
  width: 48px;
}

#line {
  width: 4px;
  height: auto;
  background-color: var(--subtitle);
}

#attacks-history-enemy {
  color: white;
  margin: 0 64px 0 64px;
  width: 48px;
}


@media (max-width: 1100px) {
  .title {
    font-size: 44px;
  }
  #battle-section p {
    font-size: 36px;
    margin: 0 32px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .character-cards-container {
    width: 164px;
  }
  .life {
    width: 84px;
    height: 12px;
    border: 2px solid white;
  }
  .sre-life {
    width: 25px;
  }
  .paolo-life {
    width: 15px;
  }
  .paco-life {
    width: 19px;
  }
  .battle-img {
    width: 88px;
  }
  .character-name {
    font-size: 16px;
  }
  .battle-attacks-container button {
    width: 58px;
    height: 40px;
  }
  .battle-attacks-container img {
    width: 36px;
  }
}

@media (max-width: 750px) {
  .card {
    width: 124px;
    height: 64px;
  }
  .card img {
    width: 40px;
  }
  #battle-section {
    flex-direction: column;
  }
  #battle-section p {
    margin: 20px 0;
  }
  #history-section {
    width: 264px;
  }
  #history-section h3 {
    font-size: 16px;
  }
  #attacks-history-player {
    font-size: 12px;
    margin: 0;
  }
  #attacks-history-enemy {
    font-size: 12px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 17px;
  }
  .subtitle {
    font-size: 1em;
  }
  .card {
    width: 164px;
    height: 84px;
  }
  .card img {
    width: 64px;
  }
  .characters-container {
    flex-direction: column;
  }
  #character-info {
    width: 312px;
  }
  .attacks-container {
    flex-direction: column;
    align-items: center;
  } 
}

@media (max-width: 320px) {
  .title {
    font-size: 19px;
  }
  #character-info {
    width: 212px;
  }

}